a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp12f25c71{ color:#000000; text-decoration: underline} 
		a.wsp12f25c71:visited{ color:#000000; text-decoration: underline} 
		a.wsp12f25c71:active{ color:#000000; text-decoration: underline} 
		a.wsp12f25c71:hover{ color:#000000; text-decoration: underline} 
#menu_6f97d35e a { text-decoration: none; }
#menu_6f97d35e_pane { background-color: #E6E6E6; border: 1px solid #E6E6E6; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_6f97d35e_hr { background-color: #E6E6E6; height: 1px; border: none; }
#menu_6f97d35e_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_6f97d35e_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_6f97d35e_entry:hover span { color:#FFFFFF !important; }
		.menu_6f97d35e_mainMenuEntry { text-align: center; }
		.menu_6f97d35e_mainMenuEntry:hover {	background-color:#282828; }
		.menu_6f97d35e_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_6f97d35e .mobileEntry { display: none; } 
		#menu_6f97d35e .normalEntry { display: block; } 
		#menu_6f97d35e_menualignmentwrapper{ width:765px; left: calc(50% - 382px);  } 
		@media only screen and (max-width:550px) { 
			#menu_6f97d35e .mobileEntry { display: block; } 
			#menu_6f97d35e .normalEntry { display: none; } 
			#menu_6f97d35e_menualignmentwrapper { width:37px; left: calc(50% - 18px);  } 
		}
body { background-color:#DBB2E5; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#text_323ee83 { position:absolute; left:4%; top:95%; background:none;  }
.textstyle2 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#text_381e378b { position:absolute; left:14%; top:95%; background:none;  }
#button_55cd82bf { border-radius: 5px; position:absolute; left:45%; top:84%; width:150px; height:40px; background-color:#E9B448; box-shadow: 7px 7px 10px -5px rgba(0, 0, 0, 0.784314);  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle3 { text-align:center; }
#text_71742726 { position:absolute; left:48%; top:96%; background:none;  }
.textstyle4 { font-size:7pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#text_215ce39e { position:absolute; left:46%; top:22%; background:none;  }
.textstyle5 { font-size:20pt; font-family:'Kymer Awon SC'; color:#000000; font-weight:bold;  }
#img_2cec44a1 { position:absolute; left:93%; top:89%; width:4%; background:none; height:auto;  }
#img_7635e4ac { position:absolute; left:86%; top:89%; width:4%; background:none; height:auto;  }
#text_b0df8f6 { position:absolute; left:79%; top:93%; background:none;  }
#menu_6f97d35e { box-sizing: border-box; position:absolute; left:0%; top:14%; width:100%; height:38px; text-align:left; background-color:#E5E5E5; background: linear-gradient(to bottom, #FFFFFF, #E5E5E5); border: 1px solid #A0A0A0;  }
#menu_6f97d35e_menualignmentwrapper { position: relative; overflow: visible; height: 100%; }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:37px; height:38px; left:0px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle6 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:76px; height:38px; left:0px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:24px;  }
.textstyle7 { font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle3 { position:absolute; width:30px; height:38px; left:76px;  }
.menuentry_text3 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:0px;  }
.menustyle4 { position:absolute; width:142px; height:38px; left:106px;  }
.menustyle5 { position:absolute; width:25px; height:38px; left:248px;  }
.menuentry_text4 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:18px;  }
.textstyle8 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle6 { position:absolute; width:86px; height:38px; left:273px;  }
.menustyle7 { position:absolute; width:25px; height:38px; left:359px;  }
.menustyle8 { position:absolute; width:107px; height:38px; left:384px;  }
.menustyle9 { position:absolute; width:25px; height:38px; left:491px;  }
.menustyle10 { position:absolute; width:125px; height:38px; left:516px;  }
.menustyle11 { position:absolute; width:25px; height:38px; left:641px;  }
.menustyle12 { position:absolute; width:99px; height:38px; left:666px;  }
#img_6a15a8eb { position:absolute; left:44%; top:-6%; width:11%; background:none; height:auto;  }
